In [8]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
data = pd.read_csv('./data/state.csv')

In [3]:
data.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         50 non-null     object
 1   Population    50 non-null     int64
 2   Murder.Rate   50 non-null     float64
 3   Abbreviation  50 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.7+ KB

In [6]:
data.describe()

         Population  Murder.Rate
count  5.000000e+01    50.000000
mean   6.162876e+06     4.066000
std    6.848235e+06     1.915736
min    5.636260e+05     0.900000
25%    1.833004e+06     2.425000
50%    4.436370e+06     4.000000
75%    6.680312e+06     5.550000
max    3.725396e+07    10.300000

## Central tendency

In [4]:
## mean
data['Population'].mean()

6162876.3

In [10]:
# Trimmed mean with 10% trimmed from both ends
trimmed_mean = stats.trim_mean(data['Population'], 0.1)
print("Trimmed Mean:", trimmed_mean)

Trimmed Mean: 4783697.125

In [11]:
# median
data['Population'].median()

4436369.5

## Estimates of Variability

In [12]:
# Calculate standard deviation
std_deviation = np.std(data['Population'])
print("Standard Deviation:", std_deviation)

Standard Deviation: 6779407.114632265

In [14]:
# Calculate median absolute deviation
mad = np.median(np.abs(data['Population'] - np.median(data['Population'])))
print("Median Absolute Deviation:", mad)

Median Absolute Deviation: 2596702.0

In [15]:
# Calculate interquartile range
q75, q25 = np.percentile(data['Population'], [75 ,25])
iqr = q75 - q25
print("Interquartile Range:", iqr)

Interquartile Range: 4847308.0

In [16]:
# Calculate median absolute deviation with scipy.stats
mad = stats.median_abs_deviation(data['Population'])
print("Median Absolute Deviation (MAD):", mad)

Median Absolute Deviation (MAD): 2596702.0